- Call the remote service to the user name 
    - Greet user by "HELLO" _ name.toUpperCase();
    - in case of any issues/exceptions, just say "Hey User...!"
- Remote service could be occassionally slow, but do not wait for more than one second
    - If the service is slow, just say "Oops... the service is slow" 
- Return the message above as "result"
- Then add the current time in this format
    - result - LocalTime.now()
    


